<div class="page-not-found">
    <div class="four04">
        <p class="mb-0"><span>4</span><span>0</span><span>4</span></p>
    </div>
    <div class="oops">
        <p class="mb-0"><span>OOPS!!! </span><span>PAGE </span><span>NOT </span><span>FOUND</span></p>
    </div>
    <div>
        <p><span>The </span><span>requested </span>
            <span>url </span><span>was </span><span>not </span><span>found</span></p>
        <p>
            Go to <a href="/home"> Home</a>
        </p>
    </div>
</div>
