<div class="shortcut-life-text-to-json">
    <div class="heading mr-4" id='top'>
        <mat-card>
            <mat-card-content>
                <h1>
                    Welcome to text to Json converter
                </h1>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="content mr-4 mt-20">
        <mat-card>
            <mat-card-content>
                <div class="p-20">
                    <p>
                        Before converting your text please read,
                        <a class="cursor-pointer" (click)="srcollTo('condition')">how to use</a>
                        this converter
                    </p>
                    <textarea class="p-20" placeholder="Enter your text here" [(ngModel)]="textInput">
                    </textarea>
                </div>
                <div class="pl-20" fxLayout="row">
                    <mat-checkbox class="pt-4" fxFlex="50" [(ngModel)]="isDuplicateKeyAllowed">
                        Allow duplicate keys
                    </mat-checkbox>
                    <div fxFlex="20">
                        <div fxFlex="50">
                            <button mat-raised-button color="primary" (click)="convertToJson()">Convert Now</button>
                        </div>
                    </div>
                </div>
                <div class="p-20">
                    <p>Your Json here</p>
                    <textarea class="p-20" [(ngModel)]="jsonFile"
                        placeholder="Click the Convert Now button to get Your json">

                    </textarea>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <div class="p-20" id='condition'>
                    <p>Before converting your text please read and fulfill the below condition</p>
                    <ul>
                        <li>You can only convert text file to json, if you have any doc or docx file first convert it
                            to text file.
                             <a href="https://document.online-convert.com/convert-to-txt" target="blank">Click here</a>
                             to convert your doc to text
                        </li>
                        <li>4 words from a line will make a key</li>
                        <li>words containing less than 3 characters will not considered as key words, hence small words won't appear in the key</li>
                        <li>Unwanted and hidden characters are automatically removed such "%,#.." as key value of the json object</li>
                        <li>Nested object can be built, to create nested object keep a "-" sign,</li>
                        <li>Example of nested object, example text </li>
                        <li>Name of fruits in the busket</li>
                        <li>-Apple</li>
                        <li>-Bannana</li>
                        <li>Object will be like below</li>
                        <li>"NAME_FRUITS_THE_BUSKET_LIST": {{'SECOND_BRACKET_OPEN' | translate}}</li>
                        <li>"APPLE": "Apple",</li>
                        <li>"BANNNAN": "Bannan"</li>
                        <li>{{'SECOND_BRACKET_CLOSE' | translate}}</li>
                        <li><a class="cursor-pointer" (click)="srcollTo('top')">Click here</a> to go at top.</li>
                    </ul>
            
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>