<div class="shortcut-life-text-to-json">
    <div class="heading mr-4" id='top'>
        <mat-card>
            <mat-card-content>
                <h1>
                    {{'SHORTCUT_LIFE.TEXT_TO_JSON.WELCOME_TEXT_JSON_CONVERTER' | translate}}
                </h1>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="content mr-4 mt-20">
        <mat-card>
            <mat-card-content>
                <div class="p-20">
                    <p>
                        {{'SHORTCUT_LIFE.TEXT_TO_JSON.BEFORE_CONVERTING_YOUR_TEXT' | translate}}
                        <a class="cursor-pointer"
                            (click)="srcollTo('condition')">{{'SHORTCUT_LIFE.TEXT_TO_JSON.HOW_TO_USE' | translate}}</a>
                        {{'SHORTCUT_LIFE.TEXT_TO_JSON.THIS_CONVERTER' | translate}}
                    </p>
                    <div class="mb-20">
                        <button (click)="toggleInputMethod(false, $event)" class="mr-20" mat-raised-button
                            color="primary">
                            <mat-icon class="pl-4">add</mat-icon>Upload File
                        </button>
                        <button (click)="toggleInputMethod(true)" mat-raised-button color="primary">Input
                            Text</button>
                    </div>
                    <div class="upload-info">

                        <div *ngIf="!isInputText">
                            <input #fileUpload type="file" class="input_fileupload--hidden" (input)="onInput($event)"
                                (change)="onFileSelected($event)" [(ngModel)]="inputFileName" accept="text/plain">

                            <div *ngFor="let f of files">
                                <span>{{f.name}}</span>
                                <button mat-icon-button color="primary"
                                    [attr.title]="deleteButtonLabel?deleteButtonLabel:null"
                                    (click)="removeFile(event,f)">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>

                    <textarea class="p-20" *ngIf="isInputText"
                        placeholder="{{'SHORTCUT_LIFE.TEXT_TO_JSON.ENTER_YOUR_TEXT_HERE' | translate}}"
                        [(ngModel)]="textInput">
                    </textarea>
                </div>
                <div class="pl-20" fxLayout="row">
                    <mat-checkbox class="pt-4" fxFlex="50" [(ngModel)]="isDuplicateKeyAllowed">
                        {{'SHORTCUT_LIFE.TEXT_TO_JSON.ALLOW_DUPLICATE_KEYS' | translate}}
                    </mat-checkbox>
                    <div fxFlex="20">
                        <div fxFlex="50">
                            <button mat-raised-button color="primary"
                                (click)="convertToJson()">{{'SHORTCUT_LIFE.TEXT_TO_JSON.CONVERT_NOW' | translate}}</button>
                        </div>
                    </div>
                </div>
                <div class="p-20">
                    <p>{{'SHORTCUT_LIFE.TEXT_TO_JSON.YOUR_JSON_HERE' | translate}}</p>
                    <textarea class="p-20" [(ngModel)]="jsonFile"
                        placeholder="{{'SHORTCUT_LIFE.TEXT_TO_JSON.CLICK_THE_CONVERT_NOW' | translate}}">

                    </textarea>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <div class="p-20" id='condition'>
                    <p>{{'SHORTCUT_LIFE.TEXT_TO_JSON.BEFORE_CONVERTING_YOUR_TEXT_2' | translate}}</p>
                    <ul>
                        <li>{{'SHORTCUT_LIFE.TEXT_TO_JSON.YOU_CAN_ONLY_CONVERT' | translate}}
                            <a href="https://document.online-convert.com/convert-to-txt"
                                target="blank">{{'SHORTCUT_LIFE.TEXT_TO_JSON.CLICK_HERE' | translate}}</a>
                            {{'SHORTCUT_LIFE.TEXT_TO_JSON.CONVERT_YOUR_DOC_TEXT' | translate}}
                        </li>
                        <li>{{'SHORTCUT_LIFE.TEXT_TO_JSON.WORDS_FROM_LINE_WILL' | translate}}</li>
                        <li>{{'SHORTCUT_LIFE.TEXT_TO_JSON.WORDS_CONTAINING_LESS_THAN' | translate}}</li>
                        <li>{{'SHORTCUT_LIFE.TEXT_TO_JSON.UNWANTED_AND_HIDDEN_CHARACTERS' | translate}}</li>
                        <li>{{'SHORTCUT_LIFE.TEXT_TO_JSON.NESTED_OBJECT_CAN_BUILT' | translate}}</li>
                        <li>{{'SHORTCUT_LIFE.TEXT_TO_JSON.EXAMPLE_NESTED_OBJECT_EXAMPLE' | translate}} </li>
                        <li>Name of fruits in the busket</li>
                        <li>-Apple</li>
                        <li>-Bannana</li>
                        <li>{{'SHORTCUT_LIFE.TEXT_TO_JSON.OBJECT_WILL_BE_LIKE_BELOW' | translate}}</li>
                        <li>"NAME_FRUITS_THE_BUSKET_LIST": {{'SECOND_BRACKET_OPEN' | translate}}</li>
                        <li>"APPLE": "Apple",</li>
                        <li>"BANNNAN": "Bannan"</li>
                        <li>{{'SECOND_BRACKET_CLOSE' | translate}}</li>
                        <li><a class="cursor-pointer"
                                (click)="srcollTo('top')">{{'SHORTCUT_LIFE.TEXT_TO_JSON.CLICK_HERE' | translate}}</a>{{'SHORTCUT_LIFE.TEXT_TO_JSON.TO_GO_AT_TOP' | translate}}
                        </li>
                    </ul>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>