<div class="container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar fxLayout="row wrap" color="primary" class="example-toolbar">
    <div fxFlex.gt-sm="85" fxFlex="75">
      <div fxLayout="row wrap">
        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">{{ 'TITLE' | translate }}</h1>
      </div>
    </div>
    <div class="language-option" fxFlex.gt-sm="10" fxFlex="20">
      <mat-form-field>
        <mat-select [(ngModel)]="selectedLang" (selectionChange)="translate.use(selectedLang)">
          <mat-option *ngFor="let lang of languages" [value]="lang.Key">
            {{lang.Language}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/{{nav}}" routerLinkActive="active" *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="mt-10 mx-10">
        <div class="mb-20">
          <app-breadcrumb></app-breadcrumb>
        </div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>