.problem-details {
    .problem-description {
        border: 1px solid !important;
        border-left: 0px !important;
        border-top: 0px !important;
        border-bottom: 0px !important;
        border-color: rgba(0,0,0,0.3) !important;
    }
    .problem-history {
        position: sticky !important;
        top: 0;
    }
    .problem-heading{
        text-align: center !important;
        p{
            font-size: 12px !important;
        }
    }
  .input-output-example {
    border: 1px solid rgba($color: #000000, $alpha: 0.7) !important;
    border-radius: 5px !important;
    line-height: 5px !important;
    .input-example{
        background-color: #EFEFEF !important;
        border-top: 1px solid rgba($color: #000000, $alpha: 0.7) !important;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.7) !important;
    };
    .output-example{
        background-color: #EFEFEF !important;
        border-top: 1px solid rgba($color: #000000, $alpha: 0.7) !important;
        // p:last-child{
        //     padding-bottom: 10px !important;
        //     margin-bottom: 0px !important;
        // }
    }
  }
}
