<div class="text-to-json-card">
    <div>
        <div>
            <mat-card (click)="routeToTextToJson()">
                <mat-card-header>
                    <div mat-card-avatar class="text-to-json-card-header-image"></div>
                    <mat-card-title>{{ 'SHORTCUT_LIFE.TEXT_TO_JSON_CONVERTER' | translate}}</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <img class="mt-10 card-iamge" mat-card-image src="../../../../assets/images/json.png"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        {{'SHORTCUT_LIFE.CONVERT_YOUR_TEXT_FILE' | translate}}
                    </p>
                </mat-card-content>
                <mat-card-actions>

                </mat-card-actions>
            </mat-card>
        </div>
        <div>
            <mat-card (click)="routeToUploadQwestion()">
                <mat-card-header>
                    <div mat-card-avatar class="text-to-json-card-header-question-image"></div>
                    <mat-card-title>Add question</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <img class="mt-10 card-iamge" mat-card-image src="../../../../assets/images/question.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        {{'SHORTCUT_LIFE.ADD_QUESTION' | translate}}
                    </p>
                </mat-card-content>
                <mat-card-actions>

                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>