@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "@ng-select/ng-select/themes/material.theme.css";

@import "./styles/margin.scss";
@import "./styles/padding.scss";

@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";

.body {
  background-color: #d3e6e3;
}

.container .language-option .mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none !important;
}

.container .language-option .mat-form-field-infix {
  border: solid 2px black;
  padding: 6px;
  margin-top: 13px;
  border-radius: 10px;
}

.text-to-json-card mat-card {
  max-width: 300px;
  line-height: 2em;
  cursor: pointer;
  float: left;
  margin-left: 10px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.shortcut-life-text-to-json .input_fileupload--hidden,
.submit-answer-modal .input_fileupload--hidden {
  display: none !important;
}
.text-bold {
  font-weight: bold !important;
}

// mat-dialog-container#modal-component {
//   border: 3px solid #262626;
//   border-radius: 11px;
//   background-color: #1a1a1a;
// }

// .shortcut-life-text-to-json .upload-info {
//   position: relative;
// }

// .shortcut-life-text-to-json .ng-star-inserted {
//   z-index: 1;
//   position: absolute;
//   top: 25px;
//   width: 100%;
// }
